* {
	margin: 0;
	padding: 0;
}

p {
	color: #fcfcff
}

a:link {
	text-decoration: none;
	color: #8088ff;
}

a:hover {
	color: aliceblue;
}


nav {
	width: 235px;
	height: 100px;
	background-color: blue;
	color: #fcfcff;
	font-size: 50px;
	text-align: center;
	margin: 0 auto;
}

nav ul {
	margin-top: 20px;
	padding:none;
	list-style: none;
	background-color: blue;
}

#index-info {
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	margin-top: 330px;
	margin-left: 155px;
	display: inline-block;
	padding-bottom: 30px;
	
}

#index-art { 
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	margin-left: 485px;
	margin-top: -580px;
	margin-bottom: none;

	
	
}

#index-shop {
	font-family: 'Permanent Marker', cursive;
	margin-top: -380px;
	margin-left: 875px;
	font-size: 50px;
}

.h1-info {
	text-align: center;
	color: #8088ff;
}

.p-welcome {
	color: #fcfcff
}

.contact-info {
	color: #8088ff
}

.h1-shop {
	color:#8088ff;
	text-align: center;
}

.h1-art {
	color:#8088ff;
	text-align: center;
}

body {
	background-color: #2e3447;

}

ul {
	margin-left: 100;
	background-color: red;
}



